**What's in this notebook?** This notebook explains how to read the data provided in the repository. 

(*Created:* Andreas Schachner, June 18, 2024)

# Imports

In [1]:
import os, gzip, pickle, sys
import pandas as pd
import numpy as np

# Plotting
import matplotlib.pyplot as plt

try:
    import seaborn as sn
except:
    import subprocess
    import sys
    subprocess.check_call([sys.executable, '-m', 'pip', 'install', 'seaborn'])
    import seaborn as sn

# Import custom libraries
sys.path.append("../code/")

# Import loading function
from utils import load_zipped_pickle

# On the different types of solutions and where to find them

Below, we briefly describe how to read in the files for the different types of minima discussed in section 5 and Appendix C of the paper.

## dS solutions

### Main examples from section 5

The candidate de Sitter vacua can be found here:

In [2]:
filename = os.getcwd()+ f"/../data/dS_examples/data.p"

df_dS = load_zipped_pickle(filename)

All of our files contain a dataframe with each row corresponding to one of the examples in our paper.
**We provide a complete list of keys at the end of this section. This includes also a summary of all the data being stored in our files.**

As an illustration, we can e.g. display some of the properties here as follows:

In [3]:
# Pick keys that we want to display below
display_keys = ['paper name','paper section',"h11","h21","gs","W0","gsM","V dS"]

# Show entries of the dataframe for these keys
df_dS[display_keys]

,paper name,paper section,h11,h21,gs,W0,gsM,V dS
0,example 1,5.1,150,8,0.065695,0.011498+0.000000j,1.051115,1.937130e-19
1,example 2,5.2,150,8,0.057086,0.004902+0.000000j,0.913383,1.691952e-20
2,example 3,5.3,150,8,0.044226,-0.022230-0.000000j,0.796066,4.983236e-19
3,example 4,5.4,93,5,0.040376,0.053857-0.000000j,0.807523,2.340918e-15
4,example 5,5.5,93,5,0.046594,-0.030393-0.000000j,0.745512,2.112730e-15

As one easily confirms, these are precisely those values as stated in the indicated sections of the paper.

For example, to access the data for a dS vacuum in a particular section of the paper, say section 5.1, we can do the following:

In [4]:
example_5_1 = df_dS[df_dS["paper section"]=="5.1"].copy()
example_5_1[display_keys]

,paper name,paper section,h11,h21,gs,W0,gsM,V dS
0,example 1,5.1,150,8,0.065695,0.011498+0.000000j,1.051115,1.937130e-19

This line finds the entry in the key `paper section` that equals `5.1`. Alternatively, we can also grab the data by `paper name`

In [5]:
example_5_1 = df_dS[df_dS["paper name"]=="example 1"].copy()
example_5_1[display_keys]

,paper name,paper section,h11,h21,gs,W0,gsM,V dS
0,example 1,5.1,150,8,0.065695,0.011498+0.000000j,1.051115,1.937130e-19

Then, we access the values within the dataframe `example_5_1` through the keys (just like in a standard python `dict`):

In [6]:
W0 = example_5_1["W0"].values[0]
gs = example_5_1["gs"].values[0]
(gs,abs(W0))

(0.06569470261013641, 0.011498101152307332)

In the notebook [working_with_examples.ipynb](./working_with_examples.ipynb), we provide a more detailed demonstration on how to 
* construct the CY threefold $X$ and its mirror $\widetilde{X}$ with [CYTools](https://cy.tools),
* validate the stabilisation of all moduli in our dS minima,
* make histograms of e.g. divisor and curve volumes (see also the notebook [histograms_for_curve_volumes.ipynb](histograms_for_curve_volumes.ipynb)), and
* work with dataframes.

### 25 additional dS solutions from sections 5.4 and 5.5

As we explained in the main text, we found additional 25 candidate dS solutions which were however not discussed at great length in the draft.
We provide the full data in our repository and it can be read as follows:

In [7]:
filename = os.getcwd()+ f"/../data/dS_examples/data_extra_dS.p"

df_extra_dS = load_zipped_pickle(filename)

As above, we can e.g. display some of the properties here as follows:

In [8]:
# Pick keys that we want to display below
display_keys = ['paper name','paper section',"h11","h21","gs","W0","gsM","V dS"]

# Show entries of the dataframe for these keys
df_extra_dS[display_keys]

,paper name,paper section,h11,h21,gs,W0,gsM,V dS
0,example a,5.4,93,5,0.040592,0.053450+0.000000j,0.811836,2.382623e-15
1,example b,5.4,93,5,0.040589,0.053456+0.000000j,0.811781,2.409172e-15
2,example c,5.4,93,5,0.040588,0.053458+0.000000j,0.811761,2.418565e-15
3,example d,5.4,93,5,0.040587,0.053459+0.000000j,0.811747,2.425100e-15
4,example e,5.4,93,5,0.040586,0.053463-0.000000j,0.811714,2.439680e-15
5,example f,5.4,93,5,0.040581,0.053472+0.000000j,0.811619,2.479431e-15
6,example g,5.4,93,5,0.040567,0.053500-0.000000j,0.811337,2.570694e-15
7,example h,5.4,93,5,0.040565,0.053503+0.000000j,0.811302,2.579960e-15
8,example i,5.4,93,5,0.040563,0.053507+0.000000j,0.811270,2.588306e-15
9,example j,5.4,93,5,0.040559,0.053516+0.000000j,0.811178,2.610343e-15
10,example k,5.4,93,5,0.040559,0.053516+0.000000j,0.811175,2.611107e-15
11,example l,5.4,93,5,0.040550,0.053534+0.000000j,0.810997,2.646993e-15
12,example m,5.4,93,5,0.040548,0.053538+0.000000j,0.810952,2.654306e-15
13,example n,5.4,93,5,0.040542,0.053548+0.000000j,0.810850,2.674195e-15
14,example o,5.4,93,5,0.040536,0.053562+0.000000j,0.810713,2.684815e-15
15,example p,5.4,93,5,0.040531,0.053570+0.000000j,0.810623,2.693211e-15
16,example q,5.4,93,5,0.040528,0.053576+0.000000j,0.810559,2.695916e-15
17,example r,5.4,93,5,0.040520,0.053591+0.000000j,0.810404,2.692305e-15
18,example s,5.4,93,5,0.040505,0.053621+0.000000j,0.810098,2.706539e-15
19,example t,5.4,93,5,0.040476,0.053674+0.000000j,0.809529,2.649267e-15
20,example u,5.4,93,5,0.040464,0.053697+0.000000j,0.809287,2.620002e-15
21,example a,5.5,93,5,0.046851,-0.030319+0.000000j,0.749619,2.652089e-15
22,example b,5.5,93,5,0.046838,-0.030324-0.000000j,0.749410,2.617187e-15
23,example c,5.5,93,5,0.046740,-0.030354-0.000000j,0.747835,2.394773e-15
24,example d,5.5,93,5,0.046704,-0.030365-0.000000j,0.747257,2.319912e-15

As one easily confirms, these are precisely those values as stated in the indicated sections of the paper.

For example, to access the data for a particular dS vacuum for say section 5.4, we can do the following:

In [9]:
example_5_4_a = df_extra_dS[(df_extra_dS["paper section"]=="5.4")&(df_extra_dS["paper name"]=="example a")].copy()
example_5_4_a[display_keys]

,paper name,paper section,h11,h21,gs,W0,gsM,V dS
0,example a,5.4,93,5,0.040592,0.05345+0.00000j,0.811836,2.382623e-15

Then, we access the values within the dataframe `example_5_4_a` through the keys (just like in a standard python `dict`):

In [10]:
W0 = example_5_1["W0"].values[0]
gs = example_5_1["gs"].values[0]
(gs,abs(W0))

(0.06569470261013641, 0.011498101152307332)

## non-SUSY AdS solutions

The data for the non-SUSY AdS solutions can be found here:

In [11]:
filename = os.getcwd()+ f"/../data/nonSUSY_AdS_examples/data.p"

df_AdS = load_zipped_pickle(filename)

As an illustration, we can e.g. display some of the properties here as follows:

In [12]:
# Pick keys that we want to display below
display_keys = ['paper name','paper section',"h11","h21","gs","W0","gsM","V AdS uplifted"]

# Show entries of the dataframe for these keys
df_AdS[display_keys]

,paper name,paper section,h11,h21,gs,W0,gsM,V AdS uplifted
0,example i,C.3,155,7,0.146346,0.269965+0.092614j,2.048846,-1.668398e-13
1,example j,C.3,147,7,0.059205,-0.000793-0.000000j,0.828866,-1.215973e-20
2,example k,C.3,160,6,0.078693,0.059411-0.000000j,1.101709,-8.776909e-16

As one easily confirms, these are precisely those values as stated in the indicated sections of the paper.

For example, to access the data for a the AdS minimum with ID `j`, we can run

In [13]:
example_j = df_AdS[df_AdS["paper name"]=="example j"].copy()
example_j[display_keys]

,paper name,paper section,h11,h21,gs,W0,gsM,V AdS uplifted
1,example j,C.3,147,7,0.059205,-0.000793-0.000000j,0.828866,-1.215973e-20

Then, we access the values within the dataframe `example_j` through the keys (just like in a standard python `dict`):

In [14]:
W0 = example_j["W0"].values[0]
gs = example_j["gs"].values[0]
(gs,abs(W0))

(0.05920470889311013, 0.0007934183679530718)

## Summary of data and the corresponding key in the associated dataframe

The dataframes in our files have the following keys:

### Model identifiers

* `h11`: Number of Kähler moduli where in our models $h^{1,1}=h^{1,1}_+$ since $h^{1,1}_-=0$.
* `h12`: Number of complex structure moduli where in our models $h^{1,2}=h^{1,2}_-$ since $h^{1,2}_+=0$.
* `polyID`: An ID assigned to the polytope.
* `modelID`: An ID assigned to the CY.
* `paper name`: Name used in the paper to refer to this a particular vacuum.
* `paper section`: Section in the paper in which the corresponding vacuum is being discussed.
* `name`: Alias for the dS vacua presented in the paper.
 
### Mirror CY data

* `dual points`: Points of the dual polytope.
* `mirror heights`: Heights of the triangulations of dual polytope specifying the mirror CY $\tilde{X}$.
* `mirror GVs`: GV invariants of the mirror CY $\tilde{X}$.
* `conifold curve`: Charge of the conifold curve $\mathcal{C}_{\mathrm{cf}}$ giving rise to the conifold singularity in the limit $\text{vol}(\mathcal{C}_{\mathrm{cf}})=0$.
* `basis transformation`: Basis transformation matrix that transforms the curve charge saved in `conifold curve` to the basis $\mathcal{C}_{\mathrm{cf}}=(1,0,0,\ldots,0)$.
* `M vector`: M-vector specifying the PFV solution.
* `K vector`: K-vector specifying the PFV solution.
* `P vector`: p-vector specifying the PFV solution.

### Supersymmetric minimum for the complex structure moduli and the axiodilaton

* `SUSY W0`: Value of the flux superpotential at the SUSY minimum.
* `SUSY gs`: Value of the string coupling at the SUSY minimum.
* `SUSY gsM`: Value of $g_s M$ at the SUSY minimum.
* `SUSY tau`: Value of the axiodilaton at the SUSY minimum.
* `SUSY volTilde`: Value of the mirror CY volume at the SUSY minimum.
* `SUSY zcf`: Value of the conifold modulus at the SUSY minimum.
* `SUSY zvec`: Value of the complex structure moduli at the SUSY minimum.

### Non-supersymmetric minimum for the complex structure moduli and the axiodilaton (includes backreaction from Kähler sector)

* `gs`: Value of the string coupling at the minimum.
* `W0`: Value of the flux superpotential at the minimum.
* `gsM`: Value of $g_s M$.
* `zcf`: Value of the conifold modulus at the minimum.
* `zvec`: Value of the complex structure moduli at the minimum.
* `tau`: Value of the axiodilaton at the minimum.
* `volTilde`: Value of the mirror CY volume at the minimum.

### CY orientifold data

* `points`: Polytope points.
* `divisor basis`: Basis of prime toric divisors.
* `rigid divisors`: Indices of the rigid divisors.
* `coni-deleted divisor`: Indices of the divisors that need to be deleted due to intersections with the conifold.
* `phase dependent pure rigid divisors`: Phase dependent pure rigid divisors.
* `dual coxeter numbers`: Dual coxeter numbers which are $1$ for ED3 instantons and $6$ for gaugino condensation from an $SO(8)$ stack on a divisor.
* `Pfaffians`: Values of the Pfaffian numbers.
* `bfield`: B-fields associated with the curves.
* `O7s`: Indices of the prime toric divisors hosting O7-planes.
* `O3s`: Location of O3-planes and their intersections. That is, the array is of the form `[i,j,k,kappa_ijk]` for an O3-plane located at $x_i=x_j=x_k=0$ and with intersection number $\kappa_{ijk}\neq 0$.

### SUSY AdS vacuum or precursor

* `heights AdS`: Heights of the triangulations for the SUSY AdS precursor **with** worldsheet instanton corrections.
* `phi AdS`: Axion VEVs for the SUSY AdS precursor **with** worldsheet instanton corrections.
* `kahler AdS`: Kähler parameters in **Einstein frame** for the SUSY AdS precursor **with** worldsheet instanton corrections.
* `GVs AdS`: GV invariants of the CY ${X}$ for the SUSY AdS precursor **with** worldsheet instanton corrections.
* `pure rigids AdS`: Pure rigid divisors in the phase of the SUSY AdS minimum.
* `V AdS`: Vacuum energy at the AdS minimum.
* `dV AdS over W02`: Value of the gradient of the scalar potential for the Kähler at the AdS minimum divided by $W_0^2$.
* `corrected CY volume AdS`: Corrected CY volume at the SUSY AdS minimum.
* `corrected divisor volumes AdS`: Corrected divisor volumes at the SUSY AdS minimum.
* `csm mass spectrum in units of 1/lAdS`: Mass spectrum for the complex structure moduli in units of the AdS length $\ell_{AdS}$ at the SUSY AdS minimum including worldsheet instanton corrections.
* `km mass spectrum in units of 1/lAdS`: Mass spectrum for the Kähler moduli in units of the AdS length $\ell_{AdS}$ at the SUSY AdS minimum including worldsheet instanton corrections.


### dS vacuum 

**(CAVEAT: these keys only exists in the files for dS solutions)**

* `heights dS`: Heights of the triangulations for the dS vacuum **with** worldsheet instanton corrections.
* `kahler dS`: Kähler parameters in **Einstein frame** for the dS vacuum **with** worldsheet instanton corrections. 
* `phi dS`: Axion VEVs for the dS vacuum **with** worldsheet instanton corrections.
* `GVs dS`: GV invariants of the CY ${X}$ for the dS vacuum **with** worldsheet instanton corrections. 
* `c uplift`: Coefficient arising in the uplifting potential from the anti-D3-brane.
* `CSFterm`: Size of the complex structure F-terms.
* `V dS`: Vacuum energy at the dS minimum.
* `dV dS over W02`: Value of the gradient of the scalar potential for the Kähler at the dS minimum divided by $W_0^2$.
* `corrected CY volume dS`: Corrected CY volume at the dS minimum.
* `corrected divisor volumes dS`: Corrected divisor volumes at the dS minimum.
* `csm mass spectrum in Hubble units`: Mass spectrum for the complex structure moduli and the axiodilaton in units of Hubble $H_{dS}$ at the dS minimum including worldsheet instanton corrections.
* `km mass spectrum in Hubble units`: Mass spectrum for the Kähler moduli in units of Hubble $H_{dS}$ at the dS minimum including worldsheet instanton corrections.
* `pure rigids dS`: Pure rigid divisors in the dS phase.
* `minface autoch. divisor volumes dS`: Volumes of 
* `potent rays charges`: Charges of potent curve $\mathcal{C}_{\mathrm{pot}}$ generating a potent ray.
* `potent rays gvs`: GV invariants for the potent ray for $n\mathcal{C}_{\mathrm{pot}}$, $1\leq n\leq 10$.
* `lambda`: Minimal rescaling parameter at which point potent rays start diverging (as defined in eq. (A.8) in the paper).
* `smallest potent curve volume`: Smallest volume of the potent curves $\mathcal{C}_{\mathrm{min}}$.
* `N_C_min`: GV of the potent curves $\mathcal{C}_{\mathrm{min}}$.
* `toric gvs`: Toric GVs in the dS phase.
* `toric+1flop gvs`: Toric GVs in the dS phase as well as in neighboring phases that can be reached by at most **one flop**.
* `toric+2flop gvs`: Toric GVs in the dS phase as well as in neighboring phases that can be reached by at most **two flops**.
* `bulk gvs`: GVs computed via brute force methods in the bulk with a volume cutoff.
* `codim gvs`: GVs found by random searching lower dimensional faces of the Mori cone.

### uplifted non-SUSY AdS vacuum 

**(CAVEAT: these keys only exists in the files for non-SUSY AdS solutions)**

* `c uplift`: Coefficient arising in the uplifting potential from the anti-D3-brane.
* `CSFterm`: Size of the F-terms for the complex structure moduli used for the uplifting.
* `heights AdS uplifted`: Heights of the triangulations for the dS vacuum **with** worldsheet instanton corrections.
* `kahler AdS uplifted`: Kähler parameters in **Einstein frame** for the dS vacuum **with** worldsheet instanton corrections. 
* `phi AdS uplifted`: Axion VEVs for the dS vacuum **with** worldsheet instanton corrections.
* `GVs AdS uplifted`: GV invariants of the CY ${X}$ for the dS vacuum **with** worldsheet instanton corrections. 
* `V AdS uplifted`: Vacuum energy at the non-SUSY AdS minimum.
* `dV AdS uplifted over W02`: Value of the gradient of the scalar potential for the Kähler at the uplifted AdS minimum divided by $W_0^2$.
* `corrected CY volume AdS uplifted`: Corrected CY volume at the non-SUSY AdS minimum.
* `corrected divisor volumes AdS uplifted`: Corrected divisor volumes at the non-SUSY AdS minimum.
* `minface autoch. divisor volumes AdS uplifted`:
* `csm mass spectrum in Hubble units`: Mass spectrum for the complex structure moduli and the axiodilaton in units of the AdS length $\ell_{AdS}$ at the non-SUSY AdS minimum including worldsheet instanton corrections.
* `km mass spectrum in Hubble units`: Mass spectrum for the Kähler moduli in units of the AdS length $\ell_{AdS}$ at the non-SUSY AdS minimum including worldsheet instanton corrections.
* `pure rigids AdS uplifted`: Pure rigid divisors in the non-SUSY AdS phase.